# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/
env.bak/
venv.bak/

# Flask
instance/
*.db
*.sqlite3

# Model files
*.h5
*.hdf5
*.pb
*.pth
*.pt
*.ckpt
*.onnx
*.tflite

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.dbz